body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}
.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px darkseagreen solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.raiting span {
  color: goldenrod;
}
.product-info {
  padding: 1rem;
}
.btn-primary{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 10rem;
  background-color: #284b63 ;
  color: honeydew;
  border: none;
  transition: background-color 0.3s ease-in-out;

}
.btn-primary:hover{
  background-color: #3c6e71;
  color: honeydew;
}
.img-large {
  transition: transform 0.6s ease;
  max-width: 80%;
}

.img-large:hover {
  transform: scale(1.04);
}

.logonav {
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid darkolivegreen;
  color: darkslategrey;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid darkcyan;
  color: darkcyan;
}



.custom-radio .form-check-input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.custom-radio .form-check-input[type="radio"]:not(:disabled) + .form-check-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #6c757d;
  border-radius: 50%;
  background-color: #fff;
}

.custom-radio .form-check-input[type="radio"]:not(:disabled):checked + .form-check-label::before {
  background-color: darkslategray;
  border-color: black;
}

.custom-radio .form-check-input[type="radio"]:not(:disabled):active + .form-check-label::before {
  background-color: darkslategray;
  border-color: black;
  box-shadow: none;
}

.custom-radio .form-check-input[type="radio"]:not(:disabled):focus + .form-check-label::before {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.custom-radio .form-check-input[type="radio"]:disabled + .form-check-label::before {
  background-color: #f8f9fa;
  border-color: #ddd;
}

.custom-radio .form-check-input[type="radio"]:disabled:checked + .form-check-label::before {
  background-color: #ccc;
  border-color: #ccc;
}




.card {
  border: none;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.5rem 1.5rem darkslategray;
}

.prod-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-top {

  max-width: 70%;
  height: 13rem;
  object-fit: cover;
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}



.custom-link {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.custom-link {
  color: black;
  transition: all 0.1s ease-in-out;
}

.custom-link:hover {
  color: dimgray;
  border-bottom: 2px solid dimgray;
}



.list-group {
  border-radius: 5px;
  overflow: hidden;
}

.list-group-item {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.list-group-item:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.list-group-item.active {
  background-color: rgba(0, 0, 0, 0.1);
}



.list-group-item.subtotal {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.list-group-item.subtotal:hover {
  background-color: white;
  cursor: default;
}

.list-group-item.subtotal.active {
  background-color: white;
}


.list-group-item.proceed-btn {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.list-group-item.proceed-btn:hover {
  background-color: white;
  cursor: default;
}

.list-group-item.proceed-btn.active {
  background-color: white;
}

.remove-unwanted {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.remove-unwanted:hover {
  background-color: white;
  cursor: default;
}

.remove-unwanted.active {
  background-color: white;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #343a40;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}


.sbar-link{
  font-family: 'Optima',sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  color: #8e9aaf;
  border: none;
  box-shadow: none;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.sbar-link:hover,
.sbar-link:focus {
  /* Стили при наведении */
  border-radius: 7px;
  color: #cbc0d3;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px #d9d9d9;
}

.btn-outline-primary {
  background-color: #4a4e69;
  color: #22223b;
  border-color: #9a8c98;
}

.btn-outline-primary:hover {
  background-color: #3c6e71;
  color: #22223b;
  border-color: #9a8c98;
}

.text-bold {
  font-weight: bold;
}

.product-description {
  transition: transform 0.6s ease;
  font-family: 'Roboto', sans-serif;
  background: #f8f9fa;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #27272a;
  text-align: justify;
  line-height: 1.6;
}

.product-description:hover {
  transform: scale(1.1);
}
